

.App {
    background-color: rgb(95, 122, 122);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px ;
  
  
  }
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .btn{
    margin-right: 20px;
    height: 50px;
    width: 100px;
    background-color:transparent;
    color: black;
   border-radius: 10px;
  }
  .btn:hover{
    cursor: pointer;
  }
  .btn1:hover{
    cursor: pointer;
  }
  .btn1{
    color: rgb(95, 122, 122);
    height: 50px;
    width: 100px;
    background-color:white;
    color: black;
   border-radius: 10px;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .l{
    display: grid;
    grid-template-columns: 2fr 3fr;
    color: aqua;
  }
  .mine{
    display: grid;
     grid-template-columns: 4fr 1fr;
     font-size: large;
     border-radius: 10px;
     margin-top: 30px;
  }
  .minel{
    border-radius: 10px;
      width: 300px;
      margin-left: 160px;
      margin-right: 30px;
      margin-top: 70px;
     
      border: 2px solid black;
      height: 500px;
      background-color: rgb(95, 122, 122) ;   
  }
  .miner{
    background-image: url('./images-_3_.png');
    height: 500px;
    width: 800px;
    background-size: left;
    text-align: left;
    margin-left: 10px;
    margin-top: 70px; 
    border-radius: 30px;
  }
  .l-mid{
    background-color: rgb(95, 122, 122);
    display: grid;
    grid-template-columns: 2fr 2fr;
    font-size: large;
    margin-top: 170px; 
    border-radius: 20px;
  }